<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/site.css" asp-append-version="true">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <title>@ViewData["Title"] - Linq Exercises</title>
</head>
<body>
    
    <div class="grid-container">
        <header class="header">
            <div class="header__search">
            </div>
            <div class="header__avatar">
                

            </div>
          </header>
          <aside class="sidenav">
              <div class="sidenav__logo">
                <i class="bx bxl-c-plus-plus"></i>
                <span class="sidenav__logo_name">SHAdmin</span>
              </div>
              <ul class="sidenav__list">
                  @for (int i = 1; i <= 11; i++)
                  {
                      <li class="sidenav__list-item">
                          <a href="/Question?id=@i">
                              <i class='bx bxs-face'></i>
                              Question @i</a>
                      </li>

                  }

              </ul>
          </aside>        
        <main class="main">
            @RenderBody()
        </main>
        <footer class="footer">
            <div class="footer__copyright">&copy; 2022 Systementor AB</div>
            <div class="footer__signature">Made with love by Stefan Holmberg</div>
        </footer>      
    </div>

@await RenderSectionAsync("Scripts", required: false)



</body>
</html>